In [24]:
from pathlib import Path
data_folder = Path("/Volumes/dohmen_soep/SOEP-CORE.v36eu_STATA/Stata/raw")
file_to_open = data_folder / "vp.dta"
file_to_open1 = data_folder/ "abroad.dta"
file_to_open2= data_folder/ "vpgen.dta"

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

/Users/maxieschulze/opt/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [135]:
data = pd.read_stata(file_to_open, columns=["pid","hid", "vp14701", "vp90", "vp62", "vp0102", "vp45", "vp12602", "vp12603", "vp12605", "vp2601", "vp7002", "vp7003", "vp100a03"])

In [136]:
data1=data.set_index(['pid', 'hid'])

In [137]:
df_0 = data1.rename(columns={'vp14701': 'gender', 'vp0102': 'satisfaction_with_job', 'vp45': 'income_fair', 'vp12602': 'take_revenge', 'vp12603': 'similar_problems', 'vp12605': 'insult_back', 'vp2601': 'job_change', 'vp7002': 'overtime', 'vp7003': 'overtime_paid', 'vp90': 'years_education', 'vp62': 'working_hours_contract', 'vp100a03': 'salary_prevyear'})

In [138]:
abroad = pd.read_stata(file_to_open1, columns=["pid", "hid" ,"f0401", "f0402"]).set_index(['pid', 'hid'])

In [139]:
df_1 = abroad.rename(columns={"f0401": "full_time", "f0402": "half_time"})

In [140]:
vpgen = pd.read_stata(file_to_open2, columns=["pid", "hid" ,"stib05", "betr05"]).set_index(['pid', 'hid'])

In [141]:
df_2 = vpgen.rename(columns={"stib05": "occupation", "betr05": "firm_size"})

In [156]:
df_merge1 = pd.merge(df_0, df_1, left_index=True, right_index=True)

In [157]:
df = pd.merge(df_merge1, df_2, left_index=True, right_index=True)

In [158]:
df.head()

,,gender,years_education,working_hours_contract,satisfaction_with_job,income_fair,take_revenge,similar_problems,insult_back,job_change,overtime,overtime_paid,salary_prevyear,full_time,half_time,occupation,firm_size
pid,hid,,,,,,,,,,,,,,,,
17903,105767,[1] Maennlich,[-2] trifft nicht zu,390,[5] 5 Zufrieden: Skala 0-Niedrig bis 10-Hoch,[1] Ja,[3] Skala 1-7,[3] Skala 1-7,[5] Skala 1-7,[-2] trifft nicht zu,-2,-2,3200,-2,-2,"[530] Angestellte, qualifizierte Tätigkeit",[10] 2000 und mehr
51801,5185,[2] Weiblich,[-2] trifft nicht zu,-2,[-1] keine Angabe,[-2] trifft nicht zu,[1] Trifft ueberhaupt nicht zu,[2] Skala 1-7,[1] Trifft ueberhaupt nicht zu,[-2] trifft nicht zu,-2,-2,-2,-2,-2,[13] NE: Rentner/Rentnerin,[-2] trifft nicht zu
51802,5185,[1] Maennlich,[-2] trifft nicht zu,380,[4] 4 Zufrieden: Skala 0-Niedrig bis 10-Hoch,[2] Nein,[2] Skala 1-7,[2] Skala 1-7,[2] Skala 1-7,[-2] trifft nicht zu,10,10,3870,-2,-2,"[540] Angestellte, hochqualifizierte Tätigkeit...",[10] 2000 und mehr
61702,80292,[1] Maennlich,[-2] trifft nicht zu,440,[6] 6 Zufrieden: Skala 0-Niedrig bis 10-Hoch,[1] Ja,[2] Skala 1-7,[1] Trifft ueberhaupt nicht zu,[2] Skala 1-7,[-2] trifft nicht zu,12,0,5000,1,-1,"[640] Beamte, höherer Dienst",[9] 200 bis unter 2000
89704,109533,[2] Weiblich,[-2] trifft nicht zu,400,[7] 7 Zufrieden: Skala 0-Niedrig bis 10-Hoch,[2] Nein,[2] Skala 1-7,[2] Skala 1-7,[2] Skala 1-7,[-2] trifft nicht zu,8,0,1930,-2,-2,"[530] Angestellte, qualifizierte Tätigkeit",[9] 200 bis unter 2000

In [159]:
df['gender'].replace('[2] Weiblich', 2,inplace=True)
df['gender'].replace('[1] Maennlich', 1,inplace=True)

In [307]:
#list=df['satisfaction_with_job'].unique().tolist() 
# everything should be in  loop...

In [160]:
df['satisfaction_with_job'].replace('[0] 0 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 0,inplace=True)
df['satisfaction_with_job'].replace('[1] 1 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 1,inplace=True)
df['satisfaction_with_job'].replace('[2] 2 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 2,inplace=True)
df['satisfaction_with_job'].replace('[3] 3 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 3,inplace=True)
df['satisfaction_with_job'].replace('[4] 4 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 4,inplace=True)
df['satisfaction_with_job'].replace('[5] 5 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 5,inplace=True)
df['satisfaction_with_job'].replace('[6] 6 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 6,inplace=True)
df['satisfaction_with_job'].replace('[7] 7 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 7,inplace=True)
df['satisfaction_with_job'].replace('[8] 8 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 8,inplace=True)
df['satisfaction_with_job'].replace('[9] 9 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 9,inplace=True)
df['satisfaction_with_job'].replace('[10] 10 Zufrieden: Skala 0-Niedrig bis 10-Hoc', 10,inplace=True)
df['satisfaction_with_job'].replace('[-2] trifft nicht zu', -2,inplace=True)
df['satisfaction_with_job'].replace('[-1] keine Angabe', -1,inplace=True)

In [169]:
df['income_fair'].replace('[1] Ja', 1,inplace=True)
df['income_fair'].replace('[2] Nein', 2,inplace=True)
df['income_fair'].replace('[-2] trifft nicht zu', -2,inplace=True)
df['income_fair'].replace('[-1] keine Angabe', -1,inplace=True)

In [161]:
df['take_revenge'].replace('[1] Trifft ueberhaupt nicht zu', 1,inplace=True)
df['take_revenge'].replace('[2] Skala 1-7', 2,inplace=True)
df['take_revenge'].replace('[3] Skala 1-7', 3,inplace=True)
df['take_revenge'].replace('[4] Skala 1-7', 4,inplace=True)
df['take_revenge'].replace('[5] Skala 1-7', 5,inplace=True)
df['take_revenge'].replace('[6] Skala 1-7', 6,inplace=True)
df['take_revenge'].replace('[7] Trifft voll zu', 7,inplace=True)
df['take_revenge'].replace('[-1] keine Angabe', -1,inplace=True)


df['similar_problems'].replace('[1] Trifft ueberhaupt nicht zu', 1,inplace=True)
df['similar_problems'].replace('[2] Skala 1-7', 2,inplace=True)
df['similar_problems'].replace('[3] Skala 1-7', 3,inplace=True)
df['similar_problems'].replace('[4] Skala 1-7', 4,inplace=True)
df['similar_problems'].replace('[5] Skala 1-7', 5,inplace=True)
df['similar_problems'].replace('[6] Skala 1-7', 6,inplace=True)
df['similar_problems'].replace('[7] Trifft voll zu', 7,inplace=True)
df['similar_problems'].replace('[-1] keine Angabe', -1,inplace=True)

df['insult_back'].replace('[1] Trifft ueberhaupt nicht zu', 1,inplace=True)
df['insult_back'].replace('[2] Skala 1-7', 2,inplace=True)
df['insult_back'].replace('[3] Skala 1-7', 3,inplace=True)
df['insult_back'].replace('[4] Skala 1-7', 4,inplace=True)
df['insult_back'].replace('[5] Skala 1-7', 5,inplace=True)
df['insult_back'].replace('[6] Skala 1-7', 6,inplace=True)
df['insult_back'].replace('[7] Trifft voll zu', 7,inplace=True)
df['insult_back'].replace('[-1] keine Angabe', -1,inplace=True)

In [162]:
df['job_change'].replace('[0] 0 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 0,inplace=True)
df['job_change'].replace('[1] Erstmals erwerbstaetig', 1,inplace=True)
df['job_change'].replace('[2] Wieder erwerbstaetig', 2,inplace=True)
df['job_change'].replace('[3] Stelle bei neuen Arbeitgeber', 3,inplace=True)
df['job_change'].replace('[4] Uerbnommen von Betrieb', 4,inplace=True)
df['job_change'].replace('[5] Stellenwechsel im Betrieb', 5,inplace=True)
df['job_change'].replace('[6] Selbstaendig geworden', 6,inplace=True)
df['job_change'].replace('[-2] trifft nicht zu', -2,inplace=True)
df['job_change'].replace('[-1] keine Angabe', -1,inplace=True)

df['years_education'].replace('[1] Ja', 1,inplace=True)
df['years_education'].replace('[2] Nein', 2,inplace=True)
df['years_education'].replace('[-1] keine Angabe', -1,inplace=True)
df['years_education'].replace('[-2] trifft nicht zu', -2,inplace=True)

In [170]:
df.head()

,,gender,years_education,working_hours_contract,satisfaction_with_job,income_fair,take_revenge,similar_problems,insult_back,job_change,overtime,overtime_paid,salary_prevyear,full_time,half_time,occupation,firm_size,avg_rec,overtime_unpaid
pid,hid,,,,,,,,,,,,,,,,,,
2088401,208841,1,1,240,8,1,4,4,4,3,10,0,1400,-1,-1,"[540] Angestellte, hochqualifizierte Tätigkeit...",9,4.000000,10
5634305,563439,1,1,500,8,2,3,2,3,1,80,0,2000,-2,-2,"[540] Angestellte, hochqualifizierte Tätigkeit...",9,2.666667,80
8102804,825999,2,1,500,8,2,2,2,7,1,46,0,470,-2,-2,"[140] Volontäre, Praktikanten",10,3.666667,46

In [164]:
df['firm_size'].replace('[-2] trifft nicht zu', -2,inplace=True)
df['firm_size'].replace('[-1] keine Angabe', -1,inplace=True)
df['firm_size'].replace('[1] Unter 5', 1,inplace=True)
df['firm_size'].replace('[2] 5 bis 10', 2,inplace=True)
df['firm_size'].replace('[3] 11 bis unter 20', 3,inplace=True)
df['firm_size'].replace('[4] bis 90: unter 20', 4,inplace=True)
df['firm_size'].replace('[5] 91-04: 5 bis unter 20', 5,inplace=True)
df['firm_size'].replace('[6] 20 bis unter 100', 6,inplace=True)
df['firm_size'].replace('[7] 100 bis unter 200', 7,inplace=True)
df['firm_size'].replace('[8] bis 98: 20 bis unter 200', 8,inplace=True)
df['firm_size'].replace('[9] 200 bis unter 2000', 9,inplace=True)
df['firm_size'].replace('[10] 2000 und mehr', 10,inplace=True)
df['firm_size'].replace('[11] Selbstaendig-ohne Mitarb.', 11,inplace=True)

In [99]:
#Maybe short-cut to delete all rows with negatives
#for cols in df.columns.tolist()[1:]:
   #df = df.iloc[data[cols] > 0]

Drop rows with negative values

In [171]:
df = df[df.satisfaction_with_job != -1]
df = df[df.satisfaction_with_job != -2]
df = df[df.income_fair != -2]
df = df[df.income_fair != -1]
df = df[df.take_revenge != -1]
df = df[df.similar_problems != -1]
df = df[df.insult_back != -1]
df = df[df.overtime != -1]
df = df[df.overtime != -2]
df = df[df.overtime != -3]
df = df[df.job_change != -1]
df = df[df.job_change != -2]
df = df[df.years_education != -2]
df = df[df.years_education != -1]
df = df[df.full_time != -2]
df = df[df.full_time != -1]
df = df[df.half_time != -2]
df = df[df.half_time != -1]
df = df[df.firm_size != -2]
df = df[df.firm_size != -1]

In [175]:
df['avg_rec'] = df[['take_revenge', 'similar_problems', 'insult_back']].mean(axis=1)

Take difference of variable "overtime" and "overtime_paid" to get unpaid overtime hours (per week).

In [173]:
df['overtime_unpaid'] = df['overtime'] - df['overtime_paid']

before dividing satisfaction levels into "satisfied" (1) and "not satisfied" (0), drop answers of "5" ??

In [129]:
#df = df[df.satisfaction_with_job != 5]
#???

In [130]:
#df['satisfaction_with_job'] = (df['satisfaction_with_job'] > 4).astype(int)
#???

In [174]:
df

Empty DataFrame
Columns: [gender, years_education, working_hours_contract, satisfaction_with_job, income_fair, take_revenge, similar_problems, insult_back, job_change, overtime, overtime_paid, salary_prevyear, full_time, half_time, occupation, firm_size, avg_rec, overtime_unpaid]
Index: []