In [18]:
import pandas as pd
import numpy as np
import seaborn as sns

import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.formula.api import ols
# did not work for me in our environment

In [19]:
from pathlib import Path
data_folder = Path("/Volumes/dohmen_soep/SOEP-CORE.v36eu_STATA/Stata/raw")

file_names = ['vp', 'wp', 'xp', 'zp', 'bap', 'bbp', 'bdp', 'bfp', 'bgp', 'bip']
data_folder = Path("/Volumes/dohmen_soep/SOEP-CORE.v36eu_STATA/Stata/raw")

file_paths = [data_folder / f"{file_name}.dta" for file_name in file_names]

file_paths_2 = [data_folder / f"{file_name}gen.dta" for file_name in file_names]



data_folder_2 = Path("/Volumes/dohmen_soep/data_wave37/raw")

file_to_open_20 = data_folder_2/ "bkp.dta"
file_to_open202 = data_folder_2/ 'bkpgen.dta'

In [22]:
data = pd.read_stata(file_paths[0], columns=["pid","hid", "syear", "vp14702", "vp14701", "vp9201", "vp0102", "vp12602", "vp12603", "vp12605", "vp7002", "vp7003", "vp100a03", "vp2301"]).set_index(['pid', 'hid'])
df_05 = data.rename(columns={'vp14701': 'gender', 'vp0102': 'satisfaction_work', 'vp12602': 'take_revenge', 'vp12603': 'similar_problems', 'vp12605': 'insult_back', 'vp14702': 'year_birth', 'vp9201': 'school_degree', 'vp7002': 'overtime', 'vp7003': 'overtime_paid', 'vp100a03': 'salary', "vp2301": "turnover_intention"})

In [23]:
data2 = pd.read_stata(file_paths[1], columns=["pid", "hid", "syear","wp12402", "wp12401", "wp43b03", "wp43b05", "wp43b07", "wp7501", "wp0102", "wp5802", "wp5803", "wp77a03"]).set_index(['pid', 'hid'])
df_06 = data2.rename(columns={"wp12401": "gender", "wp12402": "year_birth", "wp43b03": "recog_effort", "wp0102": "satisfaction_work", "wp43b05": "recog_personal", "wp43b07": "recog_pay", "wp77a03": "salary", "wp5802": "overtime", "wp5803": "overtime_paid", "wp7501": "school_degree"})

In [25]:
data3= pd.read_stata(file_paths[2], columns=["pid", "hid", "syear", 'xp8601','xp0102', 'xp7202', 'xp7203','xp94a03','xp2701']).set_index(['pid', 'hid'])
df_07 = data3.rename(columns= {'xp8601':"school_degree",'xp0102': 'satisfaction_work', 'xp7202': 'overtime', 'xp7203': 'overtime_paid','xp94a03': 'salary','xp2701': 'turnover_intention'})

In [27]:
data4= pd.read_stata(file_paths[3], columns=["pid", "hid", "syear",'zp8301','zp0103','zp7102','zp7103','zp91a03','zp6601']).set_index(['pid', 'hid'])
df_09 = data4.rename(columns = {'zp8301': 'school_degree','zp0103': 'satisfaction_work','zp7102': 'overtime','zp7103': 'overtime_paid','zp91a03': 'salary','zp6601': 'turnover_intention'})

In [28]:
data5= pd.read_stata(file_paths[4], columns=["pid", "hid", "syear",'bap7401','bap0103','bap12402','bap12403','bap12405','bap6002','bap60','bap82a03']).set_index(['pid', 'hid'])
df_10 = data5.rename(columns = {'bap7401': 'school_degree','bap0103': 'satisfaction_job','bap12402': 'rec1','bap12403': 'rec2','bap12405': 'rec3','bap6002': 'overtime','bap60': 'overtime_paid','bap82a03': 'salary'})

In [29]:
data6 = pd.read_stata(file_paths[5], columns=["pid", "hid", "syear", "bbp8401","bbp0103","bbp7202","bbp7203","bbp92a03","bbp6003","bbp6005","bbp6007"	]).set_index(['pid', 'hid'])
df_11 = data6.rename(columns = {"bbp8401": "school_degree","bbp0103": "satisfaction_work","bbp7202": "overtime","bbp7203": "overtime_paid","bbp92a03": "salary","bbp6003": "recog_effort","bbp6005": "recog_personal","bbp6007": "recog_pay"})

In [30]:
data7= pd.read_stata(file_paths[6], columns=["pid", "hid", "syear",'bdp9001','bdp0103','bdp7602','bdp7603','bdp98a03','bdp7901']).set_index(['pid', 'hid'])
df_13 = data7.rename(columns = {'bdp9001': 'school_degree','bdp0103': 'satisfaction_work','bdp7602': 'overtime','bdp7603': 'overtime_paid','bdp98a03': 'salary','bdp7901': 'turnover_intention'})

In [ ]:
##2020 fehlt noch
#data8 = pd.read_stata(file_to_open_20....)

In [31]:
hours05 = pd.read_stata(file_paths_2[0], columns=["pid","hid", "syear", "vvebzeit"]).set_index(['pid', 'hid'])
work05 = hours05.rename(columns={'vvebzeit': 'working_hours'})

hours06 = pd.read_stata(file_paths_2[1], columns=["pid","hid", "syear", "wvebzeit", "betr06"]).set_index(['pid', 'hid'])
work06 = hours06.rename(columns={'wvebzeit': 'working_hours', "betr06": "firmsize"})

hours07 = pd.read_stata(file_paths_2[2], columns=["pid","hid", "syear", "xvebzeit"]).set_index(['pid', 'hid'])
work07 = hours07.rename(columns={'xvebzeit': 'working_hours'})

hours09 = pd.read_stata(file_paths_2[3], columns=["pid","hid", "syear", "zvebzeit"]).set_index(['pid', 'hid'])
work09 = hours09.rename(columns={'zvebzeit': 'working_hours'})

hours10 = pd.read_stata(file_paths_2[4], columns=["pid","hid", "syear", "bavebzeit"]).set_index(['pid', 'hid'])
work10 = hours10.rename(columns={'bavebzeit': 'working_hours'})

hours11 = pd.read_stata(file_paths_2[5], columns=["pid","hid", "syear", "bbvebzeit"]).set_index(['pid', 'hid'])
work11 = hours11.rename(columns={'bbvebzeit': 'working_hours'})

hours13 = pd.read_stata(file_paths_2[6], columns=["pid","hid", "syear", "bdvebzeit"]).set_index(['pid', 'hid'])
work13 = hours13.rename(columns={'bdvebzeit': 'working_hours'})

hours15 = pd.read_stata(file_paths_2[7], columns=["pid","hid", "syear", "bfvebzeit"]).set_index(['pid', 'hid'])
work15 = hours15.rename(columns={'bfvebzeit': 'working_hours'})

hours16 = pd.read_stata(file_paths_2[8], columns=["pid","hid", "syear", "bgvebzeit"]).set_index(['pid', 'hid'])
work16 = hours16.rename(columns={'bgvebzeit': 'working_hours'})

hours18 = pd.read_stata(file_paths_2[9], columns=["pid","hid", "syear", "bivebzeit"]).set_index(['pid', 'hid'])
work18 = hours18.rename(columns={'bivebzeit': 'working_hours'})

hours20 = pd.read_stata(file_to_open202, columns=["pid","hid", "syear", "bkvebzeit"]).set_index(['pid', 'hid'])
work20 = hours20.rename(columns={'bkvebzeit': 'working_hours'})

# Snapshot 2006, Reciprocity 2005

could not find fulltime/ halftime (at least not for 2006, but for later years in "abroad.dta")

In [32]:
df = pd.merge(df_05[["take_revenge", "similar_problems", "insult_back"]], df_06, 
                       left_on=["pid", "hid",], right_on=["pid", "hid"])

In [33]:
df = pd.merge(work06[["working_hours", "firmsize"]], df, 
                       left_on=["pid", "hid",], right_on=["pid", "hid"])

In [421]:
df['gender'].replace('[2] Weiblich', 2,inplace=True)
df['gender'].replace('[1] Maennlich', 1,inplace=True)

satisfaction_mapping = {
    '[0] 0 Zufrieden: Skala 0-Niedrig bis 10-Hoch': 0,
    '[1] 1 Zufrieden: Skala 0-Niedrig bis 10-Hoch': 1,
    '[2] 2 Zufrieden: Skala 0-Niedrig bis 10-Hoch': 2,
    '[3] 3 Zufrieden: Skala 0-Niedrig bis 10-Hoch': 3,
    '[4] 4 Zufrieden: Skala 0-Niedrig bis 10-Hoch': 4,
    '[5] 5 Zufrieden: Skala 0-Niedrig bis 10-Hoch': 5,
    '[6] 6 Zufrieden: Skala 0-Niedrig bis 10-Hoch': 6,
    '[7] 7 Zufrieden: Skala 0-Niedrig bis 10-Hoch': 7,
    '[8] 8 Zufrieden: Skala 0-Niedrig bis 10-Hoch': 8,
    '[9] 9 Zufrieden: Skala 0-Niedrig bis 10-Hoch': 9,
    '[10] 10 Zufrieden: Skala 0-Niedrig bis 10-Hoc': 10,
    '[-2] trifft nicht zu': -2,
    '[-1] keine Angabe': -1,
}

df['satisfaction_work'] = df['satisfaction_work'].map(satisfaction_mapping)


revenge_mapping = {
    '[1] Trifft ueberhaupt nicht zu': 1,
    '[2] Skala 1-7': 2,
    '[3] Skala 1-7': 3,
    '[4] Skala 1-7': 4,
    '[5] Skala 1-7': 5,
    '[6] Skala 1-7': 6,
    '[7] Trifft voll zu': 7,
    '[-1] keine Angabe': -1,
}

df['take_revenge'] = df['take_revenge'].map(revenge_mapping)


similar_problems_mapping = {
    '[1] Trifft ueberhaupt nicht zu': 1,
    '[2] Skala 1-7': 2,
    '[3] Skala 1-7': 3,
    '[4] Skala 1-7': 4,
    '[5] Skala 1-7': 5,
    '[6] Skala 1-7': 6,
    '[7] Trifft voll zu': 7,
    '[-1] keine Angabe': -1,
}

df['similar_problems'] = df['similar_problems'].map(similar_problems_mapping)


insult_back_mapping = {
    '[1] Trifft ueberhaupt nicht zu': 1,
    '[2] Skala 1-7': 2,
    '[3] Skala 1-7': 3,
    '[4] Skala 1-7': 4,
    '[5] Skala 1-7': 5,
    '[6] Skala 1-7': 6,
    '[7] Trifft voll zu': 7,
    '[-1] keine Angabe': -1,
}

df['insult_back'] = df['insult_back'].map(insult_back_mapping)

school_degree_mapping = {
    '[-2] trifft nicht zu': -2,
    '[1] Hauptschulabschluss': 1,
    '[2] Mittlere Reife': 2,
    '[3] Fachhochschulreife': 3,
    '[4] Abitur': 4,
    '[5] Anderer Schulabschluss': 5,
}

df['school_degree'].replace(school_degree_mapping, inplace=True)


recog_effort_mapping = {
    '[-2] trifft nicht zu': -2,
    '[-1] keine Angabe': -1,
    '[1] Ja': 1,
    '[2] Nein': 2,
}

df['recog_effort'].replace(recog_effort_mapping, inplace=True)

recog_personal_mapping = {
    '[-2] trifft nicht zu': -2,
    '[-1] keine Angabe': -1,
    '[1] Ja': 1,
    '[2] Nein': 2,
}

df['recog_personal'].replace(recog_personal_mapping, inplace=True)

recog_pay_mapping = {
    '[-2] trifft nicht zu': -2,
    '[-1] keine Angabe': -1,
    '[1] Ja': 1,
    '[2] Nein': 2,
}

df['recog_pay'].replace(recog_pay_mapping, inplace=True)

firmsize_mapping = {
    '[-2] trifft nicht zu': -2,
    '[-1] keine Angabe': -1,
    '[1] Unter  5': 1,
    '[2] 5 bis 10': 2,
    '[3] 11 bis unter 20': 3,
    '[4] bis 90: unter 20': 4,
    '[5] 91-04: 5 bis unter 20': 5,
    '[6] 20 bis unter 100': 6,
    '[7] 100 bis unter 200': 7,
    '[8] bis 98: 20 bis unter 200': 8,
    '[9] 200 bis unter 2000': 9,
    '[10] 2000 und mehr': 10,
    '[11] Selbstaendig-ohne Mitarb.': 11,
}

df['firmsize'].replace(firmsize_mapping, inplace=True)

In [422]:
df = df.astype('int')
df1 = df.mask(df < 0, np.nan)
df1 = df1.dropna()

In [423]:
int_columns = ['gender', 'take_revenge', 'similar_problems', 'insult_back','recog_effort', 'recog_personal', 'recog_pay', 'school_degree','satisfaction_work', 'firmsize', "overtime", "overtime_paid", "salary"]

for col in int_columns:
    df1[col] = df1[col].astype('int')

category_columns = ['gender', 'take_revenge', 'similar_problems', 'insult_back','recog_effort', 'recog_personal', 'recog_pay', 'school_degree','satisfaction_work', 'firmsize']

for col in category_columns:
    df1[col] = df1[col].astype('category')

In [1]:
df1['avg_rec'] = df1[['take_revenge', 'similar_problems', 'insult_back']].mean(axis=1)
df1['overtime_unpaid'] = df1['overtime'] - df1['overtime_paid']
df1['age'] = df1['syear'] - df1['year_birth']
df1["potential_experience"] = pow((df1["age"] - 18), 2)

NameError: name 'df1' is not defined

In [428]:
df1

,,working_hours,firmsize,take_revenge,similar_problems,insult_back,syear,year_birth,gender,recog_effort,recog_personal,...,school_degree,satisfaction_work,overtime,overtime_paid,salary,avg_rec,overtime_unpaid,age,potential_experience,column1_numeric
pid,hid,,,,,,,,,,,,,,,,,,,,,
588010,73407,30.0,10,4,4,5,2006,1984,2,1,2,...,2,6,2,0,900,4.333333,2,22,16,0
906703,90670,38.0,2,1,1,1,2006,1987,2,2,2,...,5,6,5,0,520,1.000000,5,19,1,1
1024206,102423,39.0,6,7,7,7,2006,1986,2,1,2,...,2,6,5,0,445,7.000000,5,20,4,0
2131304,213136,38.0,10,3,2,3,2006,1986,2,1,1,...,4,8,15,0,1100,2.666667,15,20,4,0
2822704,282278,35.0,10,4,4,5,2006,1985,2,1,1,...,4,6,10,10,701,4.333333,0,21,9,0
2834102,283410,38.0,10,4,5,6,2006,1988,1,1,1,...,2,9,12,0,705,5.000000,12,18,0,0
5013704,501379,40.0,9,6,3,2,2006,1986,2,2,1,...,4,5,2,0,625,3.666667,2,20,4,1
5184803,518484,40.0,6,6,2,4,2006,1988,2,1,1,...,2,10,10,0,415,4.000000,10,18,0,0
5211505,521159,40.0,10,5,4,4,2006,1986,2,1,1,...,3,9,2,0,250,4.333333,2,20,4,0
7018404,701840,40.0,10,4,3,6,2006,1987,1,1,1,...,3,8,30,30,1500,4.333333,0,19,1,0

In [426]:
df1['column1_numeric'] = df1['recog_effort'].cat.codes
df1[['column1_numeric', 'avg_rec']].corr()
#??

                 column1_numeric   avg_rec
column1_numeric         1.000000 -0.593985
avg_rec                -0.593985  1.000000

In [ ]:
#Gross Amount Of Wages, Salary Prev. Yr = salary - right measure??

In [407]:
y = np.log(df1["salary"])

fit = ols('y ~ C(gender) + C(firmsize) + C(school_degree) + potential_experience', data=df1).fit() 
fit.summary()

#???

/Users/maxieschulze/opt/anaconda3/lib/python3.8/site-packages/scipy/stats/_stats_py.py:1772: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.735
Model:                            OLS   Adj. R-squared:                 -0.191
Method:                 Least Squares   F-statistic:                    0.7938
Date:                Thu, 15 Dec 2022   Prob (F-statistic):              0.659
Time:                        22:11:39   Log-Likelihood:               -0.40641
No. Observations:                  10   AIC:                             16.81
Df Residuals:                       2   BIC:                             19.23
Df Model:                           7
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Intercept                 5.7471      0.455     12.633      0.006       3.790       7.705
C(gender)[T.2]           -1.6261      0.880     -1.848      0.206      -5.412       2.160
C(firmsize)[T.6]          1.7628      0.584      3.018      0.094      -0.751       4.276
C(firmsize)[T.9]          0.9127      0.659      1.385      0.300      -1.923       3.749
C(firmsize)[T.10]         1.0285      0.510      2.017      0.181      -1.165       3.222
C(school_degree)[T.3]     0.2305      0.686      0.336      0.769      -2.721       3.182
C(school_degree)[T.4]     1.0451      0.771      1.355      0.308      -2.273       4.363
C(school_degree)[T.5]     2.0431      0.702      2.909      0.101      -0.978       5.065
potential_experience      0.0897      0.071      1.261      0.334      -0.216       0.396
==============================================================================
Omnibus:                        0.006   Durbin-Watson:                   2.632
Prob(Omnibus):                  0.997   Jarque-Bera (JB):                0.223
Skew:                           0.000   Prob(JB):                        0.895
Kurtosis:                       2.269   Cond. No.                     2.18e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 8.74e-33. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""