In [412]:
from pathlib import Path
data_folder = Path("/Volumes/dohmen_soep/SOEP-CORE.v36eu_STATA/Stata/raw")
file_to_open = data_folder / "vp.dta"

In [413]:
import pandas as pd
import numpy as np
import seaborn as sns

In [414]:
data = pd.read_stata(file_to_open, columns=["pid", "vp14701", "vp0102", "vp45", "vp12602", "vp12603", "vp12605", "vp2601", "vp7002"], index_col = 'pid')

In [415]:
data.head()

,vp14701,vp0102,vp45,vp12602,vp12603,vp12605,vp2601,vp7002
pid,,,,,,,,
201,[2] Weiblich,[-2] trifft nicht zu,[-2] trifft nicht zu,[1] Trifft ueberhaupt nicht zu,[5] Skala 1-7,[1] Trifft ueberhaupt nicht zu,[-2] trifft nicht zu,-2
203,[1] Maennlich,[7] 7 Zufrieden: Skala 0-Niedrig bis 10-Hoch,[1] Ja,[2] Skala 1-7,[3] Skala 1-7,[2] Skala 1-7,[6] Selbstaendig geworden,-2
602,[2] Weiblich,[-1] keine Angabe,[1] Ja,[5] Skala 1-7,[4] Skala 1-7,[3] Skala 1-7,[2] Wieder erwerbstaetig,-2
901,[2] Weiblich,[6] 6 Zufrieden: Skala 0-Niedrig bis 10-Hoch,[1] Ja,[5] Skala 1-7,[3] Skala 1-7,[3] Skala 1-7,[-2] trifft nicht zu,-2
1202,[2] Weiblich,[-2] trifft nicht zu,[-2] trifft nicht zu,[1] Trifft ueberhaupt nicht zu,[1] Trifft ueberhaupt nicht zu,[1] Trifft ueberhaupt nicht zu,[-2] trifft nicht zu,-2

In [416]:
df = data.rename(columns={'vp14701': 'gender', 'vp0102': 'satisfaction_with_job', 'vp45': 'income_fair', 'vp12602': 'take_revenge', 'vp12603': 'similar_problems', 'vp12605': 'insult_back', 'vp2601': 'job_change', 'vp7002': 'overtime'})

In [417]:
df['gender'].replace('[2] Weiblich', 2,inplace=True)
df['gender'].replace('[1] Maennlich', 1,inplace=True)

In [307]:
#list=df['satisfaction_with_job'].unique().tolist() 
# everything should be in  loop...

In [418]:
df['satisfaction_with_job'].replace('[0] 0 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 0,inplace=True)
df['satisfaction_with_job'].replace('[1] 1 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 1,inplace=True)
df['satisfaction_with_job'].replace('[2] 2 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 2,inplace=True)
df['satisfaction_with_job'].replace('[3] 3 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 3,inplace=True)
df['satisfaction_with_job'].replace('[4] 4 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 4,inplace=True)
df['satisfaction_with_job'].replace('[5] 5 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 5,inplace=True)
df['satisfaction_with_job'].replace('[6] 6 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 6,inplace=True)
df['satisfaction_with_job'].replace('[7] 7 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 7,inplace=True)
df['satisfaction_with_job'].replace('[8] 8 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 8,inplace=True)
df['satisfaction_with_job'].replace('[9] 9 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 9,inplace=True)
df['satisfaction_with_job'].replace('[10] 10 Zufrieden: Skala 0-Niedrig bis 10-Hoc', 10,inplace=True)
df['satisfaction_with_job'].replace('[-2] trifft nicht zu', -2,inplace=True)
df['satisfaction_with_job'].replace('[-1] keine Angabe', -1,inplace=True)

In [419]:
df['income_fair'].replace('[1] Ja', 1,inplace=True)
df['income_fair'].replace('[2] Nein', 2,inplace=True)
df['income_fair'].replace('[-2] trifft nicht zu', -2,inplace=True)
df['income_fair'].replace('[-1] keine Angabe', -1,inplace=True)

In [420]:
df['take_revenge'].replace('[1] Trifft ueberhaupt nicht zu', 1,inplace=True)
df['take_revenge'].replace('[2] Skala 1-7', 2,inplace=True)
df['take_revenge'].replace('[3] Skala 1-7', 3,inplace=True)
df['take_revenge'].replace('[4] Skala 1-7', 4,inplace=True)
df['take_revenge'].replace('[5] Skala 1-7', 5,inplace=True)
df['take_revenge'].replace('[6] Skala 1-7', 6,inplace=True)
df['take_revenge'].replace('[7] Trifft voll zu', 7,inplace=True)
df['take_revenge'].replace('[-1] keine Angabe', -1,inplace=True)


df['similar_problems'].replace('[1] Trifft ueberhaupt nicht zu', 1,inplace=True)
df['similar_problems'].replace('[2] Skala 1-7', 2,inplace=True)
df['similar_problems'].replace('[3] Skala 1-7', 3,inplace=True)
df['similar_problems'].replace('[4] Skala 1-7', 4,inplace=True)
df['similar_problems'].replace('[5] Skala 1-7', 5,inplace=True)
df['similar_problems'].replace('[6] Skala 1-7', 6,inplace=True)
df['similar_problems'].replace('[7] Trifft voll zu', 7,inplace=True)
df['similar_problems'].replace('[-1] keine Angabe', -1,inplace=True)

df['insult_back'].replace('[1] Trifft ueberhaupt nicht zu', 1,inplace=True)
df['insult_back'].replace('[2] Skala 1-7', 2,inplace=True)
df['insult_back'].replace('[3] Skala 1-7', 3,inplace=True)
df['insult_back'].replace('[4] Skala 1-7', 4,inplace=True)
df['insult_back'].replace('[5] Skala 1-7', 5,inplace=True)
df['insult_back'].replace('[6] Skala 1-7', 6,inplace=True)
df['insult_back'].replace('[7] Trifft voll zu', 7,inplace=True)
df['insult_back'].replace('[-1] keine Angabe', -1,inplace=True)

In [433]:
df['job_change'].replace('[0] 0 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 0,inplace=True)
df['job_change'].replace('[1] Erstmals erwerbstaetig', 1,inplace=True)
df['job_change'].replace('[2] Wieder erwerbstaetig', 2,inplace=True)
df['job_change'].replace('[3] Stelle bei neuen Arbeitgeber', 3,inplace=True)
df['job_change'].replace('[4] Uerbnommen von Betrieb', 4,inplace=True)
df['job_change'].replace('[5] Stellenwechsel im Betrieb', 5,inplace=True)
df['job_change'].replace('[6] Selbstaendig geworden', 6,inplace=True)
df['job_change'].replace('[-2] trifft nicht zu', -2,inplace=True)
df['job_change'].replace('[-1] keine Angabe', -1,inplace=True)

<ipython-input-433-ef260841d3fa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['job_change'].replace('[0] 0 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 0,inplace=True)
<ipython-input-433-ef260841d3fa>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['job_change'].replace('[1] Erstmals erwerbstaetig', 1,inplace=True)
<ipython-input-433-ef260841d3fa>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['job_change'].replace('[2] Wieder erwerbstaetig', 2,inplace=True)
<ipython-input-433-ef260841d3fa>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['job_change'].replace('[3] Stelle bei neuen Arbeitgeber', 3,inplace=True)
<ipython-input-433-ef260841d3fa>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['job_change'].replace('[4] Uerbnommen von Betrieb', 4,inplace=True)
<ipython-input-433-ef260841d3fa>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['job_change'].replace('[5] Stellenwechsel im Betrieb', 5,inplace=True)
<ipython-input-433-ef260841d3fa>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['job_change'].replace('[6] Selbstaendig geworden', 6,inplace=True)
<ipython-input-433-ef260841d3fa>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['job_change'].replace('[-2] trifft nicht zu', -2,inplace=True)
<ipython-input-433-ef260841d3fa>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['job_change'].replace('[-1] keine Angabe', -1,inplace=True)

Drop rows with negative values

In [444]:
df = df[df.satisfaction_with_job != -1]
df = df[df.satisfaction_with_job != -2]
df = df[df.income_fair != -2]
df = df[df.income_fair != -1]
df = df[df.take_revenge != -1]
df = df[df.similar_problems != -1]
df = df[df.insult_back != -1]
df = df[df.overtime != -1]
df = df[df.overtime != -2]
df = df[df.overtime != -3]
df = df[df.job_change != -1]
df = df[df.job_change != -2]

In [424]:
df['avg_rec'] = df[['take_revenge', 'similar_problems', 'insult_back']].mean(axis=1)

In [445]:
df

,gender,satisfaction_with_job,income_fair,take_revenge,similar_problems,insult_back,job_change,overtime,avg_rec
pid,,,,,,,,,
9206,2,9,1,2,2,2,1,5,2.000000
10802,2,10,1,1,3,1,5,5,1.666667
12603,1,7,2,3,2,5,3,8,3.333333
13801,1,7,2,7,5,1,5,62,4.333333
16404,2,3,2,4,2,3,5,6,3.000000
...,...,...,...,...,...,...,...,...,...
8247903,1,9,1,4,4,4,2,8,4.000000
8255604,1,4,2,3,3,5,2,10,3.666667
8257002,1,6,2,1,1,1,3,5,1.000000
8259802,1,6,1,1,1,2,3,10,1.333333
8260302,1,4,2,1,1,2,5,3,1.333333

before dividing satisfaction levels into "satisfied" (1) and "not satisfied" (0), drop answers of "5"

In [426]:
df = df[df.satisfaction_with_job != 5]

In [366]:
#df.loc[(df['satisfaction_with_job'] > 4)] = 1

In [446]:
df['satisfaction_with_job'] = (df['satisfaction_with_job'] > 4).astype(int)

In [447]:
df

,gender,satisfaction_with_job,income_fair,take_revenge,similar_problems,insult_back,job_change,overtime,avg_rec
pid,,,,,,,,,
9206,2,1,1,2,2,2,1,5,2.000000
10802,2,1,1,1,3,1,5,5,1.666667
12603,1,1,2,3,2,5,3,8,3.333333
13801,1,1,2,7,5,1,5,62,4.333333
16404,2,0,2,4,2,3,5,6,3.000000
...,...,...,...,...,...,...,...,...,...
8247903,1,1,1,4,4,4,2,8,4.000000
8255604,1,0,2,3,3,5,2,10,3.666667
8257002,1,1,2,1,1,1,3,5,1.000000
8259802,1,1,1,1,1,2,3,10,1.333333
8260302,1,0,2,1,1,2,5,3,1.333333