In [1]:
from pathlib import Path
data_folder = Path("/Volumes/dohmen_soep/SOEP-CORE.v36eu_STATA/Stata/raw")
file_to_open = data_folder / "vp.dta"
file_to_open1 = data_folder/ "abroad.dta"
file_to_open2 = data_folder/ "vpgen.dta"
file_to_open3 = data_folder/ "wp.dta"

In [2]:
import pandas as pd
import numpy as np
#import seaborn as sns

In [7]:
data = pd.read_stata(file_to_open, columns=["pid","hid", "vp14702", "vp14701", "vp90", "vp9201", "vp62", "vp0102", "vp45", "vp12602", "vp12603", "vp12605", "vp2601", "vp7002", "vp7003", "vp100a03"]).set_index(['pid', 'hid'])

In [8]:
df_0 = data.rename(columns={'vp14701': 'gender', 'vp0102': 'satisfaction_with_job', 'vp45': 'income_fair', 'vp12602': 'take_revenge', 'vp12603': 'similar_problems', 'vp12605': 'insult_back', 'vp2601': 'job_change', 'vp14702': 'year_birth', 'vp9201': 'school_degree', 'vp7002': 'overtime', 'vp7003': 'overtime_paid', 'vp90': 'years_education', 'vp62': 'working_hours_contract', 'vp100a03': 'salary_prevyear'})

In [9]:
abroad = pd.read_stata(file_to_open1, columns=["pid", "hid" ,"f0401", "f0402"]).set_index(['pid', 'hid'])

In [10]:
df_1 = abroad.rename(columns={"f0401": "full_time", "f0402": "half_time"})

In [11]:
vpgen = pd.read_stata(file_to_open2, columns=["pid", "hid" ,"stib05", "betr05"]).set_index(['pid', 'hid'])

In [12]:
df_2 = vpgen.rename(columns={"stib05": "occupation", "betr05": "firm_size"})

In [13]:
recognition = pd.read_stata(file_to_open3, columns=["pid", "hid", "wp43b03", "wp43b05", "wp43b07"]).set_index(['pid', 'hid'])

In [14]:
df_3 = recognition.rename(columns={"wp43b03": "recog_effort", "wp43b05": "recog_personal", "wp43b07": "recog_pay"})

In [15]:
df_merge1 = pd.merge(df_0, df_1, left_index=True, right_index=True)

In [16]:
df_merge2 = pd.merge(df_2, df_3, left_index=True, right_index=True)

In [17]:
df = pd.merge(df_merge1, df_merge2, left_index=True, right_index=True)

In [31]:
df['gender'].replace('[2] Weiblich', 2,inplace=True)
df['gender'].replace('[1] Maennlich', 1,inplace=True)

In [47]:
#list=df['satisfaction_with_job'].unique().tolist() 
# everything should be in  loop...

In [32]:
df['satisfaction_with_job'].replace('[0] 0 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 0,inplace=True)
df['satisfaction_with_job'].replace('[1] 1 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 1,inplace=True)
df['satisfaction_with_job'].replace('[2] 2 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 2,inplace=True)
df['satisfaction_with_job'].replace('[3] 3 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 3,inplace=True)
df['satisfaction_with_job'].replace('[4] 4 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 4,inplace=True)
df['satisfaction_with_job'].replace('[5] 5 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 5,inplace=True)
df['satisfaction_with_job'].replace('[6] 6 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 6,inplace=True)
df['satisfaction_with_job'].replace('[7] 7 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 7,inplace=True)
df['satisfaction_with_job'].replace('[8] 8 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 8,inplace=True)
df['satisfaction_with_job'].replace('[9] 9 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 9,inplace=True)
df['satisfaction_with_job'].replace('[10] 10 Zufrieden: Skala 0-Niedrig bis 10-Hoc', 10,inplace=True)
df['satisfaction_with_job'].replace('[-2] trifft nicht zu', -2,inplace=True)
df['satisfaction_with_job'].replace('[-1] keine Angabe', -1,inplace=True)

In [33]:
df['income_fair'].replace('[1] Ja', 1,inplace=True)
df['income_fair'].replace('[2] Nein', 2,inplace=True)
df['income_fair'].replace('[-2] trifft nicht zu', -2,inplace=True)
df['income_fair'].replace('[-1] keine Angabe', -1,inplace=True)

In [34]:
df['take_revenge'].replace('[1] Trifft ueberhaupt nicht zu', 1,inplace=True)
df['take_revenge'].replace('[2] Skala 1-7', 2,inplace=True)
df['take_revenge'].replace('[3] Skala 1-7', 3,inplace=True)
df['take_revenge'].replace('[4] Skala 1-7', 4,inplace=True)
df['take_revenge'].replace('[5] Skala 1-7', 5,inplace=True)
df['take_revenge'].replace('[6] Skala 1-7', 6,inplace=True)
df['take_revenge'].replace('[7] Trifft voll zu', 7,inplace=True)
df['take_revenge'].replace('[-1] keine Angabe', -1,inplace=True)

df['similar_problems'].replace('[1] Trifft ueberhaupt nicht zu', 1,inplace=True)
df['similar_problems'].replace('[2] Skala 1-7', 2,inplace=True)
df['similar_problems'].replace('[3] Skala 1-7', 3,inplace=True)
df['similar_problems'].replace('[4] Skala 1-7', 4,inplace=True)
df['similar_problems'].replace('[5] Skala 1-7', 5,inplace=True)
df['similar_problems'].replace('[6] Skala 1-7', 6,inplace=True)
df['similar_problems'].replace('[7] Trifft voll zu', 7,inplace=True)
df['similar_problems'].replace('[-1] keine Angabe', -1,inplace=True)

df['insult_back'].replace('[1] Trifft ueberhaupt nicht zu', 1,inplace=True)
df['insult_back'].replace('[2] Skala 1-7', 2,inplace=True)
df['insult_back'].replace('[3] Skala 1-7', 3,inplace=True)
df['insult_back'].replace('[4] Skala 1-7', 4,inplace=True)
df['insult_back'].replace('[5] Skala 1-7', 5,inplace=True)
df['insult_back'].replace('[6] Skala 1-7', 6,inplace=True)
df['insult_back'].replace('[7] Trifft voll zu', 7,inplace=True)
df['insult_back'].replace('[-1] keine Angabe', -1,inplace=True)

In [41]:
df['job_change'].replace('[0] 0 Zufrieden: Skala 0-Niedrig bis 10-Hoch', 0,inplace=True)
df['job_change'].replace('[1] Erstmals erwerbstaetig', 1,inplace=True)
df['job_change'].replace('[2] Wieder erwerbstaetig', 2,inplace=True)
df['job_change'].replace('[3] Stelle bei neuen Arbeitgeber', 3,inplace=True)
df['job_change'].replace('[4] Uerbnommen von Betrieb', 4,inplace=True)
df['job_change'].replace('[5] Stellenwechsel im Betrieb', 5,inplace=True)
df['job_change'].replace('[6] Selbstaendig geworden', 6,inplace=True)
df['job_change'].replace('[-2] trifft nicht zu', -2,inplace=True)
df['job_change'].replace('[-1] keine Angabe', -1,inplace=True)

df['years_education'].replace('[1] Ja', 1,inplace=True)
df['years_education'].replace('[2] Nein', 2,inplace=True)
df['years_education'].replace('[-1] keine Angabe', -1,inplace=True)
df['years_education'].replace('[-2] trifft nicht zu', -2,inplace=True)

df['firm_size'].replace('[-2] trifft nicht zu', -2,inplace=True)
df['firm_size'].replace('[-1] keine Angabe', -1,inplace=True)
df['firm_size'].replace('[1] Unter 5', 1,inplace=True)
df['firm_size'].replace('[2] 5 bis 10', 2,inplace=True)
df['firm_size'].replace('[3] 11 bis unter 20', 3,inplace=True)
df['firm_size'].replace('[4] bis 90: unter 20', 4,inplace=True)
df['firm_size'].replace('[5] 91-04: 5 bis unter 20', 5,inplace=True)
df['firm_size'].replace('[6] 20 bis unter 100', 6,inplace=True)
df['firm_size'].replace('[7] 100 bis unter 200', 7,inplace=True)
df['firm_size'].replace('[8] bis 98: 20 bis unter 200', 8,inplace=True)
df['firm_size'].replace('[9] 200 bis unter 2000', 9,inplace=True)
df['firm_size'].replace('[10] 2000 und mehr', 10,inplace=True)
df['firm_size'].replace('[11] Selbstaendig-ohne Mitarb.', 11,inplace=True)

df['school_degree'].replace('[-2] trifft nicht zu', -2,inplace=True)
df['school_degree'].replace('[1] Hauptschulabschluss' , 1,inplace=True)
df['school_degree'].replace('[2] Mittlere Reife' , 2,inplace=True)
df['school_degree'].replace('[3] Fachhochschulreife' , 3,inplace=True)
df['school_degree'].replace('[4] Abitur' , 4,inplace=True)
df['school_degree'].replace('[5] Anderer Schulabschluss' , 5,inplace=True)

df['recog_effort'].replace('[-2] trifft nicht zu', -2,inplace=True)
df['recog_effort'].replace('[-1] keine Angabe' , -1,inplace=True)
df['recog_effort'].replace('[1] Ja' , 1,inplace=True)
df['recog_effort'].replace('[2] Nein' , 2,inplace=True)

df['recog_personal'].replace('[-2] trifft nicht zu', -2,inplace=True)
df['recog_personal'].replace('[-1] keine Angabe' , -1,inplace=True)
df['recog_personal'].replace('[1] Ja' , 1,inplace=True)
df['recog_personal'].replace('[2] Nein' , 2,inplace=True)

df['recog_pay'].replace('[-2] trifft nicht zu', -2,inplace=True)
df['recog_pay'].replace('[-1] keine Angabe' , -1,inplace=True)
df['recog_pay'].replace('[1] Ja' , 1,inplace=True)
df['recog_pay'].replace('[2] Nein' , 2,inplace=True)

In [42]:
df.head()

,,year_birth,gender,years_education,school_degree,working_hours_contract,satisfaction_with_job,income_fair,take_revenge,similar_problems,insult_back,...,salary_prevyear,full_time,half_time,occupation,firm_size,recog_effort,recog_personal,recog_pay,avg_rec,overtime_unpaid
pid,hid,,,,,,,,,,,,,,,,,,,,,
17903,105767,1974,1,-2,-2,390,5,1,3,3,5,...,3200,-2,-2,"[530] Angestellte, qualifizierte Tätigkeit",10,2,2,1,3.666667,0
51801,5185,1962,2,-2,-2,-2,-1,-2,1,2,1,...,-2,-2,-2,[13] NE: Rentner/Rentnerin,-2,-2,-2,-2,1.333333,0
51802,5185,1957,1,-2,-2,380,4,2,2,2,2,...,3870,-2,-2,"[540] Angestellte, hochqualifizierte Tätigkeit...",10,2,1,2,2.000000,0
61702,80292,1961,1,-2,-2,440,6,1,2,1,2,...,5000,1,-1,"[640] Beamte, höherer Dienst",9,1,1,1,1.666667,12
89704,109533,1979,2,-2,-2,400,7,2,2,2,2,...,1930,-2,-2,"[530] Angestellte, qualifizierte Tätigkeit",9,1,1,2,2.000000,8

In [99]:
#Maybe short-cut to delete all rows with negatives
#for cols in df.columns.tolist()[1:]:
   #df = df.iloc[data[cols] > 0]

Drop rows with negative values

In [171]:
#df = df[df.satisfaction_with_job != -1]
#df = df[df.satisfaction_with_job != -2]
#df = df[df.income_fair != -2]
#df = df[df.income_fair != -1]
#df = df[df.take_revenge != -1]
#df = df[df.similar_problems != -1]
#df = df[df.insult_back != -1]
#df = df[df.overtime != -1]
#df = df[df.overtime != -2]
#df = df[df.overtime != -3]
#df = df[df.job_change != -1]
#df = df[df.job_change != -2]
#df = df[df.years_education != -2]
#df = df[df.years_education != -1]
#df = df[df.full_time != -2]
#df = df[df.full_time != -1]
#df = df[df.half_time != -2]
#df = df[df.half_time != -1]
#df = df[df.firm_size != -2]
#df = df[df.firm_size != -1]

In [25]:
df['avg_rec'] = df[['take_revenge', 'similar_problems', 'insult_back']].mean(axis=1)

Take difference of variable "overtime" and "overtime_paid" to get unpaid overtime hours (per week).

In [26]:
df['overtime_unpaid'] = df['overtime'] - df['overtime_paid']

Create "age" variable

In [43]:
df['age'] = 2005 - df['year_birth']

Create a variable "potential experience", (age- 18)^2

In [45]:
df["potential_experience"] = pow((df["age"] - 18), 2)

before dividing satisfaction levels into "satisfied" (1) and "not satisfied" (0), drop answers of "5" ??

In [129]:
#df = df[df.satisfaction_with_job != 5]
#???

In [46]:
df

,,year_birth,gender,years_education,school_degree,working_hours_contract,satisfaction_with_job,income_fair,take_revenge,similar_problems,insult_back,...,half_time,occupation,firm_size,recog_effort,recog_personal,recog_pay,avg_rec,overtime_unpaid,age,potential_experience
pid,hid,,,,,,,,,,,,,,,,,,,,,
17903,105767,1974,1,-2,-2,390,5,1,3,3,5,...,-2,"[530] Angestellte, qualifizierte Tätigkeit",10,2,2,1,3.666667,0,31,169
51801,5185,1962,2,-2,-2,-2,-1,-2,1,2,1,...,-2,[13] NE: Rentner/Rentnerin,-2,-2,-2,-2,1.333333,0,43,625
51802,5185,1957,1,-2,-2,380,4,2,2,2,2,...,-2,"[540] Angestellte, hochqualifizierte Tätigkeit...",10,2,1,2,2.000000,0,48,900
61702,80292,1961,1,-2,-2,440,6,1,2,1,2,...,-1,"[640] Beamte, höherer Dienst",9,1,1,1,1.666667,12,44,676
89704,109533,1979,2,-2,-2,400,7,2,2,2,2,...,-2,"[530] Angestellte, qualifizierte Tätigkeit",9,1,1,2,2.000000,8,26,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8151404,815144,1988,1,-2,-2,-2,-2,-2,1,1,1,...,-2,"[11] NE: in Ausbildung, inkl. Weiterbildung, B...",-2,-2,-2,-2,1.000000,0,17,1
8151405,815144,1988,1,-2,-2,-2,-2,-2,1,1,1,...,-2,"[11] NE: in Ausbildung, inkl. Weiterbildung, B...",-2,-2,-2,-2,1.000000,0,17,1
8210003,821004,1986,1,-2,-2,-2,-2,-2,5,5,5,...,-2,"[11] NE: in Ausbildung, inkl. Weiterbildung, B...",-2,-2,-2,-2,5.000000,0,19,1
8224903,822493,1980,1,-2,-2,400,8,2,2,2,2,...,-2,"[530] Angestellte, qualifizierte Tätigkeit",6,1,1,1,2.000000,17,25,49
8250303,825034,1984,2,-2,-2,160,8,1,2,2,3,...,-2,[220] angelernter Arbeiter,6,1,1,2,2.333333,0,21,9

# We need Turnover intention!

delete all negatives,
dummies satisfaction_with_job